cola_feature_todo.txt
build
*~
apps/*.dSYM
apps/*.o
apps/encoder
apps/a.out
apps/foo.c
apps/foo.seq
apps/quantize.seq.old
apps/test
apps/*.csv
pseudo-avc/run
pseudo-avc/encoder.o
pseudo-avc/encoder
pseudo-avc/out*
pseudo-avc/encoder.dSYM
pseudo-avc/*txt