cola_feature_todo.txt
build
*~
apps/*.dSYM
apps/*.o
apps/encoder
apps/a.out
apps/foo.c
apps/foo.seq
apps/quantize.seq.old
apps/test
apps/*.csv
avc/run
avc/encoder.o
avc/encoder
avc/out*
avc/encoder.dSYM
avc/*txt
avc/gmon.out
avc/*.o
avc/a.out